---
layout: base.njk
---

<br />

<div class="container" style="max-width: 1000px; margin: 0 auto">
    <a href="/" class="back-link">&larr; Back to awabq.com</a>
</div>

<br />

{% include "_includes/content.njk" %}
